:root {
	max-width: 100dvw;
	height: 100dvw;
	/* place-content: center; */
	text-align: center;
	margin: 0;

	font-family: "EB Garamond";
	line-height: 1.5;
	font-weight: 400;

	background-color: rgb(18, 92, 116);
	color-scheme: light dark;
	color: white;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#app-container {
	display: inline-block;
	justify-content: center;
}

#main-section {
	background-image: url("https://t4.ftcdn.net/jpg/05/62/08/15/240_F_562081546_fi4r5JZw57UQCBYqtX2IOQ54jX9JuRaa.jpg");
	/* Full height */
	height: 100dvh;
	width: auto;
	border-radius: 20px;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: lightblue;
	margin: 2rem;
	padding: 2rem;
	width: 50vw;
}

h1 {
	font-size: 3rem;
}

#bio {
	font-size: 2rem;
	background: rgb(1, 61, 69);
	opacity: 60%;
	border-radius: 20px;
}
